body {
  margin: 10px;
}
  .small {
    font-style: italic;
    font-size: 1em;
    text-align: center;
  }

  .designedby {
  font-weight: bold;
  }

  .meal {
    background-color: whitesmoke;
    margin-left: 10px;
    border-radius: 10px;
  }
